@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body{
    background-color:#f6f9fc ;
    font-family: 'Nerko One', cursive;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.canvas{
    width: 70%;
    height: 700px;
    position:absolute;
    left: 15%;
    background: white;
    border-radius: 15px;
    border-color: #351e11;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.controls{
    position: absolute;
    bottom: 50px;
    margin-top: 30px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.controls .controls_btns{
    margin-bottom: 30px;
}

.controls_btns button{
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 15px;
    font-size: 20px;
    border: 1px solid navy;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: rgb(82, 76, 76);
}
.sideColors .controls_colors{
    /* display: flex; */
    position:absolute;
    margin-top: 30px;
    right: 8%;
}
.controls_colors .controls_color{
    width: 50px;
    height: 50px;
    border-radius:25px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls .controls_range{
    margin-bottom: 20px;
}
span{
    position: absolute;
    left: 2px; bottom: 2px;
}