@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color:#cccccc;
    font-family: 'Nerko One', cursive;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

.main_scrin{
    display: flex;
    flex-direction: row;
}
.canvas{
    width: 1000px;
    height: 500px;
    background: #4A655A;
    border-radius: 15px;
    margin-left: 50px;
    border:solid #69371b 20px;
    cursor: url("img/chalk_white.png"), auto;
    box-shadow: 0 4px 6px rgba(75, 27, 19, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.controls{
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.controls .controls_btns{
    margin-top: 15px;
}

.controls_btns button{
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 15px;
    font-size: 20px;
    border: 2px solid #4A655A ;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
    font-family: 'Bebas Neue', cursive;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #4A655A;
}
.sideColors .controls_colors{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 10px;
}
.controls_colors .controls_color{
    width: 50px;
    height: 48px;
    border-radius:25px;
    cursor: pointer;
    /* box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); */
}

.controls .controls_range{
    margin-top: 15px;
}

.delete_bg{
    width: 100px;
    height: 70x;
    position: relative;
    bottom: 165px;
    right: 420px;
    cursor: pointer;
}
span{
    position: absolute;
    left: 2px; bottom: 2px;
}