@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body{
    background-color:#334752;
    font-family: 'Nerko One', cursive;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

.main_scrin{
    display: flex;
    flex-direction: row;
}
.canvas{
    width: 1500px;
    height: 700px;
    background: white;
    border-radius: 15px;
    margin-left: 50px;
    border:solid #69371b 20px;
    box-shadow: 0 4px 6px rgba(75, 27, 19, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.controls{
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.controls .controls_btns{
    margin-top: 30px;
}

.controls_btns button{
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 15px;
    font-size: 20px;
    border: 1px solid navy;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: rgb(82, 76, 76);
}
.sideColors .controls_colors{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
}
.controls_colors .controls_color{
    width: 50px;
    height: 50px;
    border-radius:25px;
    margin-bottom: 10px;
    cursor: pointer;
    /* box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); */
}

.controls .controls_range{
    margin-top: 20px;
}
span{
    position: absolute;
    left: 2px; bottom: 2px;
}